body{
    background-color: aquamarine;
    background-image: url('/Image/download.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#right{
    position: absolute;
    top: 1px;
    right: 5px;
}

.center{
    height: 60vh;
    padding: 20px;
    color:blue;
}

footer {
    background: #666;
    color: white;
  }